body {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.nav {
  width: 25%;
  margin: 20px;
}

.content {
  width: 75%;
  margin: 20px;
}

.panel-section {
  margin-bottom: 20px;
}

.active {
  cursor: pointer;
  background-color: #E8E8E8;
}

.inactive {
  cursor: pointer;
}

.message {
  margin-bottom: 10px;
}

.message-timestamp {
  color: #808080;
  font-style: italic;
  padding-left: 10px;
  font-size: 13px;
}
